    .form_input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


    .form_input_number {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        -moz-appearance:textfield;
    }

    .courses_form {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px 20px 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        background: #e7dbdb;
        box-shadow: 0px 0px 16px 1px #000000;
    }

    .course_submit {
        width: 100%;
        background-color: #374537;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0px 1px 6px 0px #000000;
        border: 2px solid;
        transition-duration: 0.4s;
    }

    .course_submit:hover {
        background-color: #454b45;
        box-shadow: none;
    }

    .form_wrapper {
        padding: 2px;
        width: 100%;
    }

    .day_input {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5);
        /* IE */
        -moz-transform: scale(1.5);
        /* FF */
        -webkit-transform: scale(1.5);
        /* Safari and Chrome */
        -o-transform: scale(1.5);
        /* Opera */
        transform: scale(1.5);
        padding: 10px;
    }

    .schedule_form {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    .schedule_input_block {
        display: flex;
    }

    .day_input_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 5px;
    }

    .day_time_input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form_input_block {
        display: flex;
        width: 15em;
        flex-direction: column;
        color: white;
        margin: 0 10px;
    }

    label {
        text-align: center;
    }

    p {
        margin: 0;
    }

    .course_input {
        border-radius: 5px;
        background-color: #568356;;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
        position: relative;
    }

    .collapsible {
        background-color: #ce803e;
        color: white;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        box-shadow: 0px 1px 6px 0px #000000;
        text-align: center;
        outline: none;
        font-size: 15px;
        margin: 5px;
        transition-duration: 0.2s;
    }

    .active,
    .collapsible:hover {
        box-shadow: none;
        background-color: #464646;
    }

    .content {
        padding: 10px;
        background: #ba905c;
        color: white;
        display: none;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: space-evenly;
        transition: max-height 0.2s ease-out;
    }

    .removeFFBtn {
        position: absolute;
        font-size: 22px;
        top: 5px;
        right: 10px;
        color: #ffffff;
        cursor: pointer;
    }