    * {
        box-sizing: border-box;

    }

    body {
        text-align: center;        
        /* background: linear-gradient(110deg, #f6a43f 900px, #e1ebe5 176px); */
        background: linear-gradient(110deg, #dba25c 900px, #e1ebe5 176px);
        margin: 0;
        min-height: 100vh;
        position: relative;
    }
    
    .title_block  {
        font-size: 1.5em;
        font-family: sans-serif;
        /* font-weight: 700; */
        color: #ffffff;
        background: #476b5b;
        -webkit-box-shadow: 1px 2px 12px 2px black;
        -moz-box-shadow: 1px 2px 12px 2px black;
        box-shadow: 1px 2px 12px 2px black;
        display: flex;
        justify-content: center;
        padding: 0.2em 20px;

    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .search_block{
        padding: 0 3%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: none;
    }

    .searchField {
        font-size: 16px;
        width: 55%;
        padding: 10px 15px;
        border: 3px solid;
        height: 50px;
        margin: 10px 0px;
    }

    input:focus {
        outline:none !important;
    }

    .container {
        padding: 0px 20px 50px 20px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }

    footer {
        height: 40px;
        background: #2e2d2d;
        width: 100%;
        position: absolute;
        color: white;
        display: flex;
        bottom: 0px;
        justify-content: center;
    }

    .footer_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .course_grid {
        flex-flow: wrap;
        justify-content: center;
        display: none;
    }

    .filter_div {
        position: relative;
        background-color: #4a4f4c;
        color: #ffffff;
        width: 20em;
        /* border-radius: 6px; */
        margin: 10px;
        text-align: center;
        display: flex;
        height: 5em;
        padding: 10px 8px;
        justify-content: space-between;
        box-shadow: 20px 4px 16px 4px rgba(0, 0, 0, 0.22), 2px 10px 16px 0 rgba(0, 0, 0, 0.19);
        transition: transform .1s;
    }

    .filter_div:hover {
        transform: scale(1.05);
    }

    .course_info {
        font-size: 19px;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .course_btn {
        display: flex;
        justify-content: space-around;
        width: 25%;
    }
    
    .add_course_btn {
        border: 2px solid #322c2c;
        padding: .5em 0.8em .5em 0.8em;
        text-align: center;
        margin-left: 1em;
        font-size: 1em;
        color: white;
        cursor: pointer;
        background: #4a83ac;
        outline: none;
        margin: 13px;
        height: 44px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
    .add_course_btn:hover {
        box-shadow: none;
    }
    
    .seats {
        display: flex;
        font-size: 2.5em;
    }
    
    .curr_seats {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .total_seats {
        margin: 0px;
        font-size: 0.4em;
    }
    
    .inc_btn {
        font-size: 1em;
        height: 45%;
        margin-top: 14%;
        background-color: #89b589;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        border: none;
        color: white;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .inc_btn:hover {
        box-shadow: none;
    }
    
    .dec_btn {
        background-color: #e8768b;
        padding: 2% 12%;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        font-size: 2.5em;
        border: none;
        color: white;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .dec_btn:hover {
        box-shadow: none;
    }

    .main_info {
        display: flex;
        width: 100%;
        text-align: center;
        height: 100%;
        justify-content: space-between;
    }

    .more_info {
        position: absolute;
        font-size: 17px;
        top: 0;
        left: 0;
        padding: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: left;
        height: 100%;
        display: none;
    }

    .course_info_block {
        text-align: left;
    }

    .cname {
        width: 92%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .iname {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .cname {
        width: 92%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .time_loc {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .fa-edit {
        margin: 0 0.1em;
        margin-top: 0.9em;
        font-size: 22px;
        cursor: pointer;
    }

    .fa-edit:hover {
        color: #ddb525;
    }

    .fa-info {
        margin: 0 0 0 0.5em;
        margin-top: 0.9em;
        font-size: 22px;
        cursor: pointer;
    }

    .fa-info:hover {
        color: #ddb525;
    }

    .seats_edit {
        display: none;
        font-size: 3.5em;
    }

    .curr_seats_edit_input {
        text-align: center;
        margin: 0;
        width: 2.3em;
        background-color: #ffffff;
        border: 2px dashed #373030;
        border-radius: 8px;
        font-size: 36px;
        font-weight: 700;
        padding: 2px;       
    }

    .seats_edit_sep {
        margin: 0 10px;
        font-weight: 600
    }

    .total_seats_edit_input {
        text-align: center;
        font-size: 30px;
        padding: 2px;
        width: 2.4em;
        font-weight: 700;
        height: 70%;
        background-color: #ffffff;
        border: 2px dashed #373030;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance:textfield;
    }

    .fa-course-back {
        display: none;
        margin: 0 0.1em;
        margin-top: 0.9em;
        font-size: 22px;
        cursor: pointer;
    }

    .fa-times:hover {
        color: #df4848;
    }

    .fa-check {
        display: none;
        margin: 0 0.1em;
        margin-top: 0.9em;
        font-size: 22px;
        cursor: pointer;
    }

    .fa-check:hover {
        color: #44d873;
    }

    .fa-trash {
        display: none;
        margin-left: 1.3em;
        font-size: 22px;
    }

    .fa-trash:hover {
        color: black;
    }

    .logout_btn {
        font-size: 36px;
        color: #242424;
        cursor: pointer;
        position: absolute;
        display: block;
        top: 13px;
        margin: 0px;
        right: 20px;
        display: none;
    }

    .logout_btn:hover {
        color: #ae5959;
    }

    .login_block_wrapper {
        padding-top: 25px;
        display: none;
    }

    .login_block {
        margin: 1em 0px 0px 0px;
        width: 22em;
        padding: 0% 1% 1.5% 1%;
        margin: 1em 0 0 0;
        background: #3b3f3a;
        box-shadow: -1px 6px 19px 3px #000000;
    }

    .login_image {
        height: 25%;
        width: 63%;
    }

    .header_image {
        width: 50px;
        margin-right: 10px;
        height: 50px;
    }

    @media only screen and (max-width: 600px) {
        .login_block {
            width: 19em;
        }
    }